name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Release-Tool CI
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24
      id: go

    - name: Setup Go binary path
      shell: bash
      run: |
        echo "GOPATH=${{ github.workspace }}" >> $GITHUB_ENV
        echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

    - name: Check out code
      uses: actions/checkout@v4
      with:
        path: src/github.com/containerd/release-tool
        fetch-depth: 25

    - name: Project Checks
      uses: containerd/project-checks@v1.2.2
      with:
        working-directory: src/github.com/containerd/release-tool

    - name: Linter
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.3.1
        working-directory: src/github.com/containerd/release-tool

    - name: Unit Test
      working-directory: src/github.com/containerd/release-tool
      run: |
        go test -v .

    - name: Build
      working-directory: src/github.com/containerd/release-tool
      run: |
        go build -o release-tool github.com/containerd/release-tool
